HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

node_modules/
dist/
dist-ssr/
*.local

.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__/
*.pyc
*.log
*.class
bin/
out/
